<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="jquery-3.3.1.min.js"></script>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

ul input[type=text] {
  padding: 4px;
  font-size: 17px;
  border: none;
}

ul .search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul .search-container button:hover {
  background: #ccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/* Full-width input fields */
.names, .phone, .address {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
/*input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}*/

/* Set a style for all buttons */
.signupbtn, .cancelbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signupbtn :hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

</style>
</head>
<body>

<h1>Contacts</h1>

  <ul>
    <li class="newcontact"><a href="/new_contact">Add Contact</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Useful Links</a>
      <div class="dropdown-content">
        <a href="https://www.whitepages.com/">WhitePages</a>
        <a href="https://www.mapquest.com/">MapQuest</a>
        <a href="https://www.google.com/">Google</a>
      </div>
    </li>
    <li class="logout"><a href="/sessions/logout" style="color:red">Log Out</a></li>
    <li style="float:right">
      <a div class="search-container">
        <input type="text" placeholder="Search Contacts" name="search" id="myInput" onkeyup="myFunction()">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div></a>
    </li>
  </ul>
  <br>

  <table class="myTable" id="myTable">
    <tr>
    <th onclick="sortTable(0)">Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Options</th>
    </tr>
    <% res_arr.each do |r|%>
    <tr>
    <td><div name="names" autofocus><%= r['names']%></div></td>
    <td><div name="phone"><%= r['phone']%></div></td>
    <td><div name="address"><%= r['address']%></div></td>
    <td><scan>
  <form method="post" action="delete_con">
    <button type="submit" value="<%= r['id'] %>" id="id_1" name="id" >Delete</button>
  </form>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" name="id" value="<%= r['id'] %>">Edit</button></scan></td>
    </tr>
    <% end %>
  </table>

<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content animate" action="/update_con">
    
      <div class="container">
      <label for="fname">Name</label>
      <input type="text" name="names2" id="names" class="names" autofocus>

      <label for="phone">Phone Number</label>
      <input type="text" id="phone" name="phone2" class="phone">
    
      <label for="address">Address</label>
      <input type="text" name="address2" id="address" class="address">
    
    
      </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" id="id_2" onclick="update_con()">Save</button>
    </div>
</form>    
</div>


<script>
// searches through the names of contacts
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
// to sort the contact names alphabetically
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

// function delete_con(){
// var z = document.getElementById("myform");
// z.action = "/delete_con";
// z.submit();
// }

function update_con(){
var m = document.getElementById("myform");
m.action = "/update_con";
m.submit();
}

// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

var textOne = document.getElementById("id_1");
var textTwo = document.getElementById("id_2");
//Get the value of textOne textbox input
var textOneValue = textOne.value;
 
var textTwoValue = textOneValue;
//Assign the value of textOne textbox to textTwo textbox
textTwo.value = textTwoValue;
</body>